<ion-view view-title="PLATILLOS">
  <ion-content class="padding">
  
    <div class="list card">
    
      <div class="item">
        <h2>Tacos......................................................................$10 c/u</h2>
        <p>Tacos de bistek con cilantro, cebolla, queso y aguacate</p>
      </div>
      
      <div class="item">
        <h2>Pizza......................................................................$70 c/u</h2>
        <p>Tama&ntilde;o familiar con peperoni</p>
      </div>
      
      <div class="item">
        <h2>Hot Dog......................................................................$15 c/u</h2>
        <p>Hotdog con cebolla, tomate, ketchup, mostaza, mayonesa</p>
      </div>
    </div>
  </ion-content>
</ion-view>
